<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="4" name="Suite" >

	<listeners>
		<listener class-name="com.listeners.Listener" />
	</listeners>

	<test thread-count="2" name="Test">
		<classes>
			
			<class name="com.trivago.tests.SearchHotelTest" />
			
		</classes>
	</test> <!-- Test -->




</suite> <!-- Suite -->
